<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.rtl.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.rtl.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-reboot.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-reboot.rtl.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-utilities.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-utilities.rtl.css') }}">
        {% block stylesheets %}{% endblock %}

        <script src"{{ asset('assets/js/bootstrap.bundle.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {%include "_partiel/_nav.html.twig" %}

        {% block body %}{% endblock %}

        {%include "_partiel/_footer.html.twig" %}
        <!-- Footer -->

    </body>
</html>
